.task{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    gap: 10px;
}

.task p{
    border: 1px solid;
    width: 250px;
    padding: 6px 8px;
    text-align: start;
}
.task button{
    border-radius: 10px;
    font-size: 16px;
    background-color: rgba(65, 147, 147, 0.768);
    padding: 6px 8px;
}


@media (max-width: 625px) {
    .task p{
        border: 1px solid;
        width: 400px;
        padding: 6px 8px;
        text-align: start;
    }
}
@media (max-width: 550px) {
    .task p{
        border: 1px solid;
        width: 200px;
        padding: 6px 8px;
        text-align: start;
    }
}
